<mat-form-field appearance="outline" class="filtro-busqueda ml-2 letra-blanca">
  <mat-label>Buscar</mat-label>
  <input autocomplete="off" matInput placeholder="Filtrar" (keyup)="applyFilter($event.target.value)" />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<table mat-table [dataSource]="tabla" class="mat-elevation-z8 mr-1" style="font-size: 8px !important; width: 100%;">
  <ng-container matColumnDef="rut">
    <th mat-header-cell *matHeaderCellDef> Rut </th>
    <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
  </ng-container>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Marca </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'HH:mm (dd/MM/yyyy)'}} </td>
  </ng-container>
  <ng-container matColumnDef="enviado">
    <th mat-header-cell *matHeaderCellDef> Enviado </th>
    <td mat-cell *matCellDef="let element"> <mat-icon *ngIf="element.enviado">check</mat-icon> <mat-icon *ngIf="!element.enviado">close</mat-icon> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
